services:
  users:
    image: postgres:16 # Also update app/src/test/kotlin/community/flock/workshop/app/environment/Variables.kt
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  notes:
    build:
      context: ./.service
    ports:
      - "3000:3000"

  app:
    build:
      context: ./app
    ports:
      - "8080:8080"
    environment:
      DATABASE_USERS_HOST: users
      SERVICE_NOTES_HOST: notes
    depends_on:
      - users
      - notes
